<div class="main-container" ng-class="{'player-1-turn': $ctrl.playerInTurn === 0, 'player-2-turn': $ctrl.playerInTurn === 1}">
  <div class="container">
    <div class="board" id="board-table">
  		<div class="board-row" ng-repeat="row in $ctrl.board track by $index">
        <div ng-click="$ctrl.play($parent.$index, $index)" class="cell" ng-class="{'selected': col !== null, 'player-1-cell': col === 'x', 'player-2-cell': col === '0'}" ng-repeat="col in row track by $index" ng-style="$ctrl.cellStyle">
        </div>
      </div>
  	</div>
  </div>
  <div class="player-title player-1" ng-class="{'turn': $ctrl.playerInTurn === 0}">
    Player 1
  </div>
  <div class="player-title player-2" ng-class="{'turn': $ctrl.playerInTurn === 1}">
    Player 2
  </div>
  <md-button class="md-fab btn-settings" ng-click="$ctrl.showSettings($event)">
      <md-icon md-svg-src="assets/images/settings.svg"></md-icon>
  </md-button>
</div>
