.board {
  overflow: auto;
  .board-row {
    display: flex;
    .cell {
      display: flex;
      width: 33.33333333%;
      margin: 5px;
      border-radius: 15px;
      min-width: 85px;
      min-height: 85px;
      background-color: #78bec5;
      transition: all 0.1s linear;
      &:hover {
        background-color: #3d4250;
        cursor: pointer;
      }
      &.selected:hover {
        cursor: default;
        background-color: #78bec5;
      }
    }
  }
}
